p{
    font-weight:bold;
}

input{
    width: 55px;
}

body{
    font-family: 'Times New Roman';
    text-align: center;
    margin: 50px;
    background-color: lightblue;
}

div{   
    border: 2px solid black;
    padding: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px;
    background-color: aliceblue;
}

button:hover{
    border: 2px solid blue;
    border-radius: 4px;

}

#results{
    font-weight:normal;
    font-size: 18px;
}